
@{
    ViewData["Title"] = "Edit";
    Layout = null;
}

<div class="col-md-12">
    <div class="btn btn-light text-center input-group-lg">
        <a onclick="tampilDiPopUp('@Url.Action("AddOrEdit","KomponenKoordinat",
                                  new { id=0, add= true},Context.Request.Scheme)',
                                  'Komponen Baru')"
           class="btn btn-outline-success btn-sm" id="btnAdd">

            <i class="far fa-plus-square"> Tambah Komponen Koordinat</i>
        </a>
    </div>
        <div class="btn btn-light input-group-lg">
            <a onclick="tampilDiPopUp('@Url.Action("AddOrEdit","KomponenKoordinat",
                                      new { komKoorId=ViewBag.KompKoorId,add=false},Context.Request.Scheme)',
                                        'Rubah Komponen Koordinat')"
               class="btn btn-sm btn-outline-primary">

                <i class="fa fa-marker fa-sm"> Edit</i>
            </a>
        </div>
        <div class="btn btn-light input-group-lg">
            <form asp-action="Delete" asp-route-id="@ViewBag.KompKoorId" 
                  onsubmit="return jQueryAjaxDeleteSimple(this)" class=" d-inline">

                <input type="submit" value="Hapus" class="btn btn-sm btn-danger col-md-12" />
            </form>
        </div>
</div>