@model RAB.Models.Utama.KomponenPola

@{
    ViewData["Title"] = "Edit";
    Layout = null;
}

<h4 class="text-center">Untuk @ViewBag.PolaNama</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="AddOrEdit" asp-route-id="@Model.KomPolaId" onsubmit="return jQueryAjaxPost(this);" autocomplete="off">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="KomPolaId" />
            <input type="hidden" asp-for="PolaId" value="@ViewBag.PolaId" />

            <div class="form-group">
                <label asp-for="KompId" class="control-label"></label>
                <select asp-for="KompId" class="form-control" asp-items="ViewBag.KompId"></select>
                <span asp-validation-for="KompId" class="text-danger"></span>
                @Html.ValidationMessage("CustomError")
            </div>
            <div class="form-group">
                <input type="submit" value="Kirim" class="btn btn-primary col-md-12" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
