@{
    ViewData["Title"] = "Branda";
}

<div class="text-center">
    <h1 class="display-4">Master RAB </h1>
    <hr />
</div>

<div>
    <ul>
        <li class="">
            <a class="text-dark" asp-area="" asp-controller="Pola" asp-action="Index">Tabel Pola</a>
        </li>
        <li class="">
            <a class="text-dark" asp-area="" asp-controller="Titik" asp-action="Index">Tabel Grid</a>
        </li>
        <li class="">
            <a class="text-dark" asp-area="" asp-controller="Koordinat" asp-action="Index">Tabel Koordinat</a>
        </li>
        <li class="">
            <a class="text-dark" asp-area="" asp-controller="Gambar" asp-action="Index">Menggambar Pola</a>
        </li>
        <li class="">
            <a class="text-dark" asp-area="" asp-controller="KomponenPola" asp-action="Index">Komponen Pola</a>
        </li>
        <li class="">
            <a class="text-dark" asp-area="" asp-controller="Garis" asp-action="Index">Garis</a>
        </li>
        <li class="">
            <a class="text-dark" asp-area="" asp-controller="KomponenGaris" asp-action="Index">Komponen Garis</a>
        </li>
        <li class="">
            <a class="text-dark" asp-area="" asp-controller="KomponenKoordinat" asp-action="Index">Komponen Koordinat</a>
        </li>
    </ul>

</div>